@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap');
* {
    font-family: 'Roboto';
    margin: 0px;
    padding: 0px;
}

.hero {
    width: auto;
    height: 100vh;
    background-color: #eee;
    position: relative;
    background-color: rgb(37, 30, 30);
    nav {
        display: flex;
        align-items: center;
        padding: 20px 8%;
        .memu-img {
            i {
                width: 25px;
                height: 25px;
                margin-right: 20px;
                cursor: pointer;
                color: white;
            }
        }
        .logo {
            margin: 0 20px;
            width: 200px;
            cursor: pointer;
        }
        ul {
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: flex-end;
            li {
                display: inline-block;
                list-style: none;
                margin: 0 20px;
                a {
                    text-decoration: none;
                    font-family: Roboto;
                    font-weight: bold;
                    font-size: 30px;
                    color: white
                }
            }
        }
    }
    button {
        width: 70px;
        height: 30px;
        background-color: #efefef;
        cursor: pointer;
        border-radius: 20px;
        outline: 0;
        border: none;
        span {
            display: block;
            height: 26px;
            width: 26px;
            border-radius: 50%;
            background-color: red;
            margin-left: 2px;
            transition: all 0.6s;
        }
    }
    .active {
        background-color: red;
        span {
            margin-left: 24px;
            background-color: white
        }
    }
    .lamp-container {
        position: absolute;
        top: -20px;
        left: 22%;
        .lamp {
            width: 100%;
        }
        .light {
            width: 700px;
            position: absolute;
            top: 97%;
            left: 50%;
            transform: translateX(-50%);
            opacity: 0;
            transition: opacity 0.5s;
        }
        .on {
            opacity: 1;
        }
    }
    .text-container {
        color: white;
        margin-top: 7%;
        margin-left: 50%;
        width: 40%;
        h1 {
            font-size: 100px;
            font-weight: 700;
        }
        p {
            font-size: 30px;
        }
        a {
            display: inline-block;
            text-decoration: none;
            color: white;
            background-color: rgb(28, 85, 71);
            padding: 10px 40px;
            font-size: 30px;
            margin-top: 20px;
            border-radius: 20px;
        }
    }
}